# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

# Custom deathmatch scenario. Most variables are pulled from the D3 experiment, instead of using the other deathmatch scneario

doom_scenario_path = deathmatch.wad

# Rewards

living_reward = 0
death_penalty = 0

# Rendering options
screen_resolution = RES_160X120
screen_format = GRAY8
render_hud = false
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false
window_visible = false

# make episodes finish after 4200 actions (tics)
episode_timeout = 4200

# Available buttons
available_buttons =
{
MOVE_FORWARD
MOVE_BACKWARD
MOVE_RIGHT
MOVE_LEFT
TURN_LEFT
TURN_RIGHT
ATTACK
SPEED
}

# Game variables that will be in the state
available_game_variables =
{
SELECTED_WEAPON_AMMO
HEALTH
KILLCOUNT
}

mode = PLAYER
doom_skill = 2